In [1]:
# create the amazon table
import psycopg2

con = None

con = psycopg2.connect(database='nytimes') 
cur = con.cursor()
cur.execute("CREATE TABLE amazon(Id INT, title VARCHAR(5000), \
        author VARCHAR(5000), description VARCHAR(10000), nodelist VARCHAR(10000), isbn VARCHAR(255))")

con.commit()
con.close()

In [2]:
# should bring back to life the nytimes books table creation code as well, but that's for later 
# create the amazon table
import psycopg2

con = None

con = psycopg2.connect(database='nytimes') 
cur = con.cursor()
cur.execute("CREATE TABLE books(Id INT, title VARCHAR(5000), isbn VARCHAR(5000), author VARCHAR(5000),\
                lists VARCHAR(5000), 'nyt_description', \
                'amazon_description', 'nodes', 'contributor', 'publisher')")

con.commit()
con.close()

ProgrammingError: syntax error at or near "'id'"
LINE 1: CREATE TABLE books('id','title', 'isbn', 'author', 'list', '...
                           ^